{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<div class="content">
  <h2>클래스룸</h2>
  <p>전체 {{count}}건의 결과</p>
  
  <!-- 검색창 -->
  <div class="search-bar">
    <form action="../classroom_search" method="GET">
      <input type="text" name='search' placeholder="제목 입력">
      <button type="submit">검색</button>
    </form>
  </div>

  <!-- 공지사항 테이블 -->
  <div class="notice-table">
    <table>
      <thead>
        <tr>
          <th>no</th>
          <th class="title-column">제목</th>
          <th>마감일</th>
          <th>작성일</th>
          <th>작성자</th>
          <th>조회 수</th>
        </tr>
      </thead>
      <tbody>
        {%for assignment in assignments %}
        <tr>
          <td>{{assignment.id}}</td>
          <td><a href="../classroom/content/{{assignment.id}}"  style="text-decoration:none" >{{assignment.title}}</a></td>
          <td>{{assignment.deadline}}</td>
          <td>{{assignment.rdate}}</td>
          <td>{{assignment.writer}}</td>
          <td>{{assignment.view_count}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- 페이지네이션 -->
  <div class="pagination">
    <button type="button">1</button>
  </div>
  <div class="'button-container">
    <button class='buttons' type="button" onclick="location.href='write'" >과제 작성</button>
  </div>

</div>
{% endblock %}
