.notice-detail-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0.1, 0, 0, 0.2);
  }

  .notice-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .notice-info {
    display: flex;
    justify-content: flex; /* 오른쪽 정렬 */
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* 하단 밑줄 추가 */
    padding-bottom: 3px; /* 밑줄과 내용 간격 */
  }

  .notice-info p {
    color: #888;
    font-size: 14px;
  }

  .notice-content {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  .button-container {
    margin-top: 20px;
    text-align: right;
    justify-content: flex-end; 
  }

  .buttons {
    display: inline-block;
    background-color: #DEE8FF;
    color: #3788D8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttons:hover {
    background-color: #3788D8;
    color:#FFF;
  }

  .notice-details {
    margin-top: 40px;
  }
  
  .notice-row {
    display: grid;
    grid-template-columns: 100px 1fr; /* 두 개의 열을 균등 분할 */
    gap: 10px; /* 열 사이 간격 */
    align-items: center;
    margin-bottom: 17px; /* 각 행 간격 */
    margin-left: 20px;
  }
  
  .notice-row .label {
    font-weight: semibold;
    color: #666;
  }
  
  .notice-row .value {
    font-weight:semibold;
    color: #333;
  }
  