body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9FBAE3; /* 연한 파란 배경 */
}
.login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-container h1 {
    font-size: 18px;
    margin-bottom: 10px;
}
.login-container p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-button {
    width: 80%;
    padding: 10px;
    background-color: #4D40B4; /* 보라색 버튼 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-button:hover {
    background-color: #4a44d4;
}