{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="content">
    <h2>공지사항</h2>
    <!-- 공지사항 테이블 -->
    <div class="notice-table-wrapper">
        <table class="notice-table">
            <thead>
                <tr>
                    <th>no</th>
                    <th class="title-column">제목</th>
                    <th>작성일</th>
                    <th>작성자</th>
                    <th>조회 수</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>{{ document.id }}</td>
                    <td><a href="../notices/content/{{ document.id }}" style="text-decoration:none">{{ document.title }}</a></td>
                    <td>{{ document.rdate }}</td>
                    <td>{{ document.writer }}</td>
                    <td>{{ document.view_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 캘린더와 클래스 게시판을 가로로 배치 -->
    <div class="content-layout">
        <!-- 캘린더 -->
        <div class="cal-container-wrapper">
            <h2>캘린더</h2> <!-- 캘린더 헤드 추가 -->
            <div class="cal-container">
                <div class="cal-navigation">
                    <h3> {{ month_name }} {{ year }} </h3>
                    <div class="cal-table">
                        <table class="cal-table-content">
                            <thead>
                                <tr>
                                    <th class="cal-th">Sun</th>
                                    <th class="cal-th">Mon</th>
                                    <th class="cal-th">Tue</th>
                                    <th class="cal-th">Wed</th>
                                    <th class="cal-th">Thu</th>
                                    <th class="cal-th">Fri</th>
                                    <th class="cal-th">Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for week in calendar_data %}
                                <tr>
                                    {% for day in week %}
                                    {% if day %}
                                    <td class="cal-td {% if day == today.day and month == today.month and year == today.year %}cal-today{% endif %}">
                                        {{ day }}
                                    </td>
                                    {% else %}
                                    <td class="cal-td cal-empty"></td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    <a href="?year={{ year }}&month={{ month|add:'-1' }}">Previous</a>
                    <a href="?year={{ year }}&month={{ month|add:'1' }}">Next</a>
                </div>
            </div>
        </div>

        <!-- 클래스룸 게시판 -->
        <div class="classroom-board-wrapper">
            <h2>클래스 게시판</h2> <!-- 클래스 게시판 헤드 추가 -->
            <div class="classroom-board">
                <table class="classroom-table">
                    <thead>
                        <tr>
                            <th>no</th>
                            <th class="title-column">제목</th>
                            <th>마감일</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in classroom %}
                        <tr>
                            <td>{{ assignment.id }}</td>
                            <td><a href="../classroom/content/{{ assignment.id }}" style="text-decoration:none">{{ assignment.title }}</a></td>
                            <td>마감<br/> DAY-{{ assignment.days_remaining }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}


