{% extends "base.html" %}

{% block content %}
{% load static %} <!--static을 올려라 -->
<link rel="stylesheet" href="{% static 'css/update.css' %}">
<script src="{% static '/js/trim.js'%}"></script> 
</head>
<body>
  <div class="edit-container">
    <h1>출결 관리 요청 수정</h1>

    <form action="../request_update_ok/{{requests.id}}" method="POST">
    {% csrf_token %} 
      <div class="update-detail">
        <div class='update-row'>
          <label class='label' for="title">제목</label>
          <p class='value' required>{{requests.title}}</p>
        </div>
        <div class='update-row'>
        <label class='label'>작성자</label>
          <p class='value'>{{requests.writer}}</p> <!-- 작성자는 수정 불가 -->
          <br/>
        </div>
        <div class='update-row'>
          <label class='label' >요청 유형</label> 
            <select class='value'  name="request_type">
              {% for option in request_type_options %}
              <option value="{{ option }}" {% if option == requests.request_type %}selected{% endif %}>
              {{ option }}</option>
              {% endfor %}
            </select>
            <br/>
          </div>
      <div class='update-row'>
        <label class='label' >요청 일자</label> <!-- 작성일은 수정 불가 -->
          <input class='value' type="date" name="request_date" value="{{ requests.request_date|date:'Y-m-d' }}" ></input>
          <br/>
        </div>
      <div class="update-row">
        <label class='label' for="content">내용</label>
        <textarea id="content" name="content" rows="5" required>{{requests.content}}</textarea>
        <br/>
      </div>
      <div class="update-row">
        <label class='label' for="content">제출 서류</label>
        {% if requests.files %}
        <p class='value'>현재 파일: <a href="{{ requests.files.url }}" target="_blank">{{ requests.files.name }}</a></p>
        {% endif %}
        <input class='value' type="file" name="files" accept=".pdf,.doc,.docx,.jpg,.png,.zip,.rar" required></input>
        <br/>
      </div>
    </div>
      <div class="button-container">
        <button type ='button' class="cancel-button" onclick=showPopup()>글 삭제</button>
        <button class="confirm-button" >저장</button>
        <button class="confirm-button" onclick="window.history.back()">뒤로가기</button>
      </div>
    </form>
  </div>
</body>


<link rel="stylesheet" href="{% static 'css/delete.css' %}">
<div>
  <!-- 팝업 -->
  <div class="popup-overlay" id="popup">
    <div class="popup-box">
      <p>정말로 이 글을 삭제하시겠습니까?</p>
      <div class="popup-buttons">
        <button class="confirm-button" onclick="location.href='../delete/{{requests.id}}'">삭제</button>
        <button class="cancel-button" onclick="hidePopup()">취소</button>
      </div>
    </div>
  </div>
</div>

<script>
  const popup = document.getElementById('popup');

  function showPopup() {
    popup.classList.add('active');
  }

  function hidePopup() {
    popup.classList.remove('active');
  }

</script>

{% endblock %}
